[2015-06-26 01:54] agenteo opened #8 "LoadError: cannot load such file -- lotus/assets/helpers"
I followed the README and added:

`gem 'lotus-assets'` to Gemfile, bundled and have a view like this:

[code]

When I visit the URL I get: LoadError: cannot load such file -- lotus/assets/helpers

[2015-06-30 07:51] tak1n opened #9 "Destination doesn't respect root configuration"
Consider following example:

[code]

The `root` configuration is used to know where the relative path of `sources` starts.
When using the configure dsl like this, I would assume the destination configuration does the same and use the root path to know where it starts.

Here `sources` uses root path: https://github.com/lotus/assets/blob/master/lib/lotus/assets/config/sources.rb#L42

Here the `desti

[2015-06-30 08:32] tak1n opened #10 "Sass @import not working"
For file importing sass internally looks through a specified load_path:
[code]
https://github.com/sass/sass/blob/3.4.15/lib/sass/tree/import_node.rb#L44

This doesn't work with lotus-assets because lotus-assets uses tilt but doesn't pass in the proper options for it.
Tilt allows to pass in options see: https://github.com/rtomayko/tilt/blob/master/lib/tilt.rb#L42
Further when using `Tilt.new` this

[2015-06-30 10:21] tak1n commented on #10
I made a dirty hack which works for me: https://github.com/tak1n/assets/commit/4bfd14b2a67f31b36e71b702e47cc5f30434d70c

Note that the files which will be imported has to be named `myfile.scss` and the main file `application.css.scss` because lotus-assets needs .css.scss, but Sass::Engine needs a .scss file.

Files like `myfile.css.scss` (`@import "myfile.css"`) will be treated like a css import b

[2015-06-30 10:26] tak1n commented on #10
You can specify custom sass importers: http://sass-lang.com/documentation/Sass/Engine.html

I think lotus-assets will need to define a custom importer like rails does it (https://github.com/rails/sass-rails/blob/master/lib/sass/rails/importer.rb).

[2015-07-24 18:40] constXife commented on #8
Because README is incorrect. Gem is empty now and have 0.0.0 version. But you can use the gem via:
[code]

[2015-08-04 23:06] #8 closed

[2015-09-10 20:17] awochna opened #15 "Project README says to install as gem, but gem release (0.0.0) doesn't include lotus/assets/helpers"
Basically what the title says. The README says to put `gem 'lotus-assets'` in your Gemfile. The version that bundler would install is 0.0.0 from rubygems.org, which doesn't include the `lotus/assets/helpers` required in your `apps/web/application.rb` file.

Perhaps, until a new gem version is released, the installation section of the README should instruct users to use the projects' github:

    g

[2015-09-10 21:02] awochna opened #17 "Should ignore hidden files beginning with a dot (.)"
Some text editors create hidden files. Lotus::Assets will try to process these and fail during development:

    Lotus::Assets::UnknownAssetEngine: No asset engine registered for `.app.css.scss.swp'

This isn't a big deal in production, but it adds extra steps to developing assets that get in developers' way.

[2015-09-10 23:02] joneslee85 commented on #17
PR is greatly welcome

[2015-09-10 23:13] awochna commented on #17
Thanks for labeling it @joneslee85 , I'll see what I can do about a PR in my spare time. If anyone else is willing to do it, feel free.

[2015-09-12 09:05] jodosha commented on #15
@awochna Hello and welcome. That instructions will be valid when `v0.1.0` will be released, but it isn't ready yet.
I pushed `v0.0.0` against Rubygems only to reserve the name.

You can point your `Gemfile` to the git repo, but beware that the behavior may change until we release the first version. Thank you. :smile:

[2015-09-12 09:05] #15 closed

[2015-09-15 12:13] #17 closed

[2015-10-15 09:37] mrubi opened #19 "lotus-assets '0.1.0' is not published on rubygems"
Hi,

i think that the latest version of this gem has not been released on https://rubygems.org.
The only version on rubygems seems to be 0.0.0:

https://rubygems.org/gems/lotus-assets

Would it be ok to release the latest version to include it with

`gem 'lotus-assets'`

?

Thanks!

[2015-10-15 09:45] jodosha commented on #19
@mrubi Hello, it wasn't released because not ready yet :smile:

[2015-10-15 09:45] #19 closed

[2015-10-15 09:55] mrubi commented on #19
Oh, sorry then :)
Anyway I've been using it in an project on development to compile and publish sass stylesheets and regular js, seems to work fine so far.
Thanks again!

[2015-11-09 10:03] #10 closed

[2015-11-10 16:00] Nerian opened #23 "Some thoughts"
Hi,

I know lotus-assets is not yet ready, but I am prototyping an app using Lotus and I am trying to get as far as I can. This are my thoughts on my experience of using lotus-assets.

I will be using bootstrap so the first thing I wanted to get is a gem for bootstrap. For Rails, the official is bootstrap-sass so I wanted to simply make that gem support Lotus too. It was a simple change.

https://

[2015-11-16 15:13] jodosha commented on #23
@Nerian Hey thank you for this detailed feedback.

We need to clarify two things for static assets:

  1. This only affects non-deployment envs. Because, if `glyphicons-halflings-regular.woff` lives in one of the sources, with the deployment strategy implemented here, it will be copied into the public directory and served by Nginx
  2. On the other hand, in development mode, we need a new integrat

[2015-11-20 08:50] Nerian commented on #23
Hi,

Some ideas:

An scenario you may want to consider:

* I create a main.sass file.
* In dev, when I request that file, it gets processed and copied to public/assets.
* In production, this file should be there already because of `lotus-assets`.

This works well when you are adding content, but what if you removed a file instead? Let's say I remove main.sass and instead I create an application.sc

[2015-11-20 09:22] jodosha commented on #23
@Nerian Hey, thanks for the feedback :+1:

I'm working on this integration. Code is still on my computer.

This is already implemented via a global rack middleware for static assets. It's mounted internally by `Lotus::Container`.

Well, that is interesting. What if we use `tmp/public` as local assets destination. If there is junk, we can easily remove it and create from scratch. In this way `publi

[2015-11-20 10:15] Nerian commented on #23
Awesome, let me know if you want me to test.

I think the `tmp/public` strategy is a good idea.

So, to summarize: in development, the middleware would look first in tmp/public – which would be `git ignored` – then in public, then in assets. In production, it will look just in public/.

Yes, in development it should raise an exception. I am not sure about production; can we still lazy compile if i

[2015-11-20 16:47] jodosha commented on #23
Yes, we can.

[2015-11-21 10:24] jodosha commented on #23
Hey @Nerian would you love to contribute to `lotus-assets`? There are a few, self-contained features that I would love to add. Because you're using it actively, it could be a good time. Please let me know.

[2015-11-21 14:02] Nerian commented on #23
Sure I can help, what's on your mind?

[2015-11-23 15:42] jodosha opened #24 "Image helper"
Implement image helper.

See `Lotus::Assets::Helpers` for reference.

## Usage

### Basic Usage

[code]

[code]

The `alt` attribute is automatically extracted from the path name

### HTML Attributes

It can also accept a set of options for HTML attributes:

[code]

[code]

If the `:alt` attribute is specified, it should override the automatic value.

[code]

[code]

### URL Prefix

This should ta

[2015-11-23 15:56] jodosha opened #25 "Favicon helper"
Implement `favicon` helper.

See `Lotus::Assets::Helpers` for reference.

## Usage

### Basic Usage

[code]

[code]

### Path

It also accepts an optional path

[code]

[code]

### URL Prefix

This should take account of the [`prefix`](https://github.com/lotus/assets/blob/master/lib/lotus/assets/configuration.rb#L45) defined in `Lotus::Assets::Configuration`.

That means, if an application has a p

[2015-11-24 13:37] Nerian commented on #24
[code]

Do we only support id and class, or should we pass anything to the final img?

Example

<%= image('logo.png', id: 'logo', class: 'image', 'data-custom' => 'whatever' ) %>

[2015-11-25 03:18] joneslee85 commented on #24
@Nerian @jodosha the html tag should support `data-` html5 attribute

[2015-11-26 15:29] jodosha commented on #24
@Nerian @joneslee85 It should support any given option and turn into a HTML attribute. In this way we have an extensible tool that can work for future attrs that browsers may want to introduce.

[2015-11-26 15:34] jodosha commented on #24
Hey @Nerian I made a huge mistake by creating this issue here. My sincere apologize, I was in a hurry and it won't happen again. Sorry. :cry:

As you have noticed, an `<img>` tag is differed from `<script>`. With the latter we don't need too much control: we're fine that for a `<%= javascript 'foo' %>` helper, the output will add a `<script>` tag that will let us to include that JS in our page.

T

[2015-11-26 15:34] #24 closed

[2015-11-26 15:35] jodosha commented on #24
Closed in favor of https://github.com/lotus/lotus/issues/399

[2015-11-26 15:37] jodosha commented on #25
Closing in favor of https://github.com/lotus/lotus/issues/400

Read more about this decision here: https://github.com/lotus/assets/issues/24#issuecomment-159940870

[2015-11-26 15:37] #25 closed

[2015-12-18 15:57] jodosha commented on #9
This is fixed now.

[2015-12-18 15:57] #9 closed

[2015-12-18 15:58] jodosha commented on #23
Closing this discussion, thank you @Nerian

[2015-12-18 15:58] #23 closed

[2016-01-04 22:00] SleeplessByte opened #34 "Map structure lost when compiling"
Because of l [compiler.rb#L119-L133](https://github.com/lotus/assets/blob/master/lib/lotus/assets/compiler.rb#L119-L133), files that are under `assets/xxx/file.ext` or `vendor/assets/yyy/file.ext` will all be served as `assets/file.ext`  and `assets/file2.ext`.

This breaks references in for example CSS files.

If `vendor.css` refers to `themes/theme-logo.png` the file will never be found, because

[2016-01-13 21:43] AlfonsoUceda commented on #34
@SleeplessByte would you like to create a PR fixing this?

[2016-01-19 23:02] davydovanton opened #36 "Bug with slim templates"
Firstly clone [this repo](https://github.com/davydovanton/lotus-asset-errors) and run `bundle && bundle exec lotus s`.

If you look into [index](https://github.com/davydovanton/lotus-asset-errors/blob/master/apps/web/templates/dashboard/index.html.slim) and [application](https://github.com/davydovanton/lotus-asset-errors/blob/master/apps/web/templates/application.html.slim) layouts you can see tha

[2016-01-19 23:07] davydovanton opened #37 "Bug with scss post processing"
Firstly clone [this repo](https://github.com/davydovanton/lotus-asset-errors) and run `bundle && bundle exec lotus s`.

I have two files `main` and `test` ([link](https://github.com/davydovanton/lotus-asset-errors/tree/master/apps/web/assets/stylesheets)).
In `main` I requre (see `Import` part of [this guide](http://sass-lang.com/guide)) `test` file. And after when I  start server the `main` file

[2016-01-29 16:04] #36 closed

[2016-01-29 16:56] #37 closed

[2016-01-29 17:20] jodosha commented on #34
I want to hear more opinions on this before to decide what to do. @SleeplessByte ?

[2016-01-29 18:28] pascalbetz commented on #34
IMHO
clashes are bound to happen and need to be resolved. i think renaming is not an option because it will break other things so the structure needs to be preserved.

I haven't really used assets that much to give any further feedback.

@trantuanckc : there is a typo in your comment: upgrated => upgraded

[2016-01-29 22:43] hlegius commented on #34
In my exp with assets, things like @SleeplessByte described happens more than we'd like to. Asset is a bit complicated because we can get it from other teams (sometimes remote/freelance team) and it can be a little bit harder to contact them to modify all dir structure or to replace by ourselves.

I'd vote for keep directory structure unmodified.

[2016-01-30 01:42] SleeplessByte commented on #34
I think there is no **good** reason __not__ preserving the original structure.

## directory structure preserving
- clashes can be averted by namespacing (think: a folder for bootstrap, library x, for vendor y)
- vendor files will JustWork™
  - vendor files reference files in relative paths
  - vendor files might be minified so changing them is tedious
  - vendor files can not be automatically upd

[2016-02-01 11:20] accuser opened #42 "Public asset files not being truncated when rewritten"
During development, if an asset file is shortened due to editing, the resulting copy in `public/assets` folder is overwritten, but not truncated. For example, given the following source asset in `apps/web/stylesheets`:

[code]

When first requested, an asset file in `public/assets` is written thus:

[code]

If the `html` block is then removed from the source asset file, the resulting asset file wr

[2016-02-01 11:27] accuser commented on #42
I've had a quick look at the code, and I think that this is the issue:

[code]

I would expect `File::TRUNC` to be included thus:
[code]

I replicated this in `irb`.

[2016-02-01 12:48] joneslee85 commented on #42
@accuser would you be able to submit a PR with test? Thx

[2016-02-01 12:49] accuser commented on #42
@joneslee85 working on it

[2016-02-01 14:59] accuser commented on #42
@joneslee85 I tried to replicate this in a test, but the test passes every time:

[code]

I must be missing something in the way the compiler is used.

I have been able to replicate the issue manually editing the source asset file at runtime. If I put my fix in, then the issue goes away. Can you provide some guidance on how this should be tested?

[2016-02-04 16:49] jodosha commented on #42
@accuser Thanks for let us to find this problem :+1: Can you please verify if #44 solves the problem for you? Thanks :+1:

[2016-02-04 17:47] #42 closed

[2016-02-04 20:51] accuser commented on #42
@jodosha it does. :+1:

[2016-02-04 22:32] davydovanton opened #45 "Problems with JS compiler"
I have `main.js` file with folloving code:
[code]

When I requested a page all worked fine and in assets folder I had a simular js file.
After that I change my file (server still running):
[code]

On this time compiled file in public folder still simular. But after that I added `$('.js-cards').show()` code to last on click event:
[code]

And after that yy complited file was broken:
[code]

Yes, th

[2016-02-05 16:31] jodosha commented on #45
Closing this as duplicate of https://github.com/hanami/assets/issues/42

[2016-02-05 16:31] #45 closed

[2016-02-10 15:50] jpruetting commented on #34
I don't there's an intentional and useful use case for this scenario, so it should only happen as a mistake, which means throwing an exception so it can be corrected would be a reasonable response.

[2016-02-10 19:49] SleeplessByte commented on #34
Actually. There are systems where the behaviour will result in assets taking precedence and it's a way to override vendor files. I don't think "there is no useful use case" is true, but all I was pointing out that neither of the solutions above will tend to this problem.

[2016-02-26 20:16] accuser commented on #34
I'm working on `Hanami::Assets` at the moment, building on an earlier PR and adding support for an asset resolver and a new compiler. What would be helpful is some direction regarding the `public/assets` folder. I have a couple of thoughts:

- flat: everything in the `public/assets` folder;
- nested: relative directory structure of sources assets maintained; or
- namespaced: flat (or nested) asset

[2016-02-26 20:27] SleeplessByte commented on #34
Again, anything other than `keep`, in your case `nested` will break ANY vendor asset out there with a non-flat structure. Here are three for you consideration:
- bootstrap
- semantic ui
- jquery ui

[2016-02-26 22:50] accuser commented on #34
So if we go for namespaced with nesting, there should be no collisions, and vendor assets should work out of the box. @jodosha is this what you want? I'm happy to implement.

[2016-02-26 22:55] accuser commented on #34
Just to clarify asset namespacing, for the `Web` application:

[code]

will result in:

[code]

[2016-02-27 14:33] jodosha commented on #34
@accuser Is the work mentioned the one about Sass imports? **I think that we should solve these two issues separately.** The Sass one, is a bug to fix, this is a discussion about changing the wanted behavior. :wink:

Your last example introduces an inconsistency between the routes of applications and their assets. Usually we have all the routes of `Web` application at the root. Eg. `/` or `/books`

[2016-02-27 14:55] accuser commented on #34
Ok, I'll not touch this for now.

Sent from my iPhone

[2016-04-11 14:07] nashbridges opened #50 "Manage assets via Torba?"
Hey guys!

I spotted that you promote using third-party assets [via Rubygems](https://github.com/hanami/assets#third-party-gems), which is the thing I strongly [advocate against](https://github.com/torba-rb/torba#why).

I would be happy to have "torba-hanami" integration (similar to [torba-rails](https://github.com/torba-rb/torba-rails)), however, I personally don't use Hanami and don't know how t

[2016-04-12 10:01] jodosha commented on #50
Hi @nashbridges thanks for starting this discussion.

From a quick read of the Torba docs, it downloads assets in projects directory.
What `torba-hanami` could do is to target a project's directory (eg `vendor/assets`) and add it to the sources:

[code]

Is that enough?

[2016-04-12 12:39] nashbridges commented on #50
By default Torba keeps prepared assets in `$HOME/.torba`, however, from application point of view it is irrelevant, since `Torba.load_path` exposes full paths. Where to keep assets in dev and in production is a user problem. This part is configured with `TORBA_HOME_PATH` and `TORBA_CACHE_PATH` env variables (see https://github.com/torba-rb/torba-rails#deployment).

In general torba-rails [appends

[2016-04-14 20:18] jodosha commented on #50
@nashbridges Ok. So if it relies on env vars, should it be something like this?

[code]

[2016-04-14 20:39] nashbridges commented on #50
Rather

[code]

since it's an array.

Another thing that should be handled is `css.erb` converted stylesheets ([example](https://github.com/torba-rb/torba/blob/master/test/fixtures/home_path/01/trumbowyg/trumbowyg.css.erb), note `url` part with `asset_path`).

[2016-04-15 12:18] jodosha commented on #50
@nashbridges

Sorry, but the rendering context for assets doesn't support helpers. From your example: `asset_path` won't work. What do you use for that? Rails' Asset Pipeline?

[2016-04-15 12:41] nashbridges commented on #50
Torba was designed with Sprockets support in mind. It works in non-Rails setup ([example](https://github.com/xfalcox/sinatra-assets-seed/blob/master/assets.rb)), but yeah, Sprockets is required.

The CSS URLs preprocessing could be skipped for Hanami. Since you don't bundle up stylesheets, relative paths should continue to work.

However, that means that third-party assets are not digested ([examp

[2016-04-15 12:55] jodosha commented on #50
@nashbridges

Correct. I'm not saying we won't add it, I'm saying it's not there **yet**.

[2016-05-03 16:25] rickenharp opened #52 "Can't precompile assets with a deployed app"
I deployed a small test app today, that just has an image and a bit of scss as assets. Everything works locally in development, and running `./bin/hanami assets precompile` locally writes everything into public as expected.

But calling the same thing on the server, I get the following error:

deploy@sarkhan:/opt/www/mathsquad.net/current$ ./bin/hanami assets precompile
/opt/www/mathsquad.net/shar

[2016-05-03 16:40] cllns commented on #52
Can you please update the markdown for the error so we can see the whole thing without scrolling? (the real error here, `Hanami::Assets::UnknownAssetEngine` is off the screen)

In the chat, you said the file was `favicon.ico`, is this bug non-deterministic, picking random image files?

[2016-05-03 16:45] rickenharp commented on #52
I've moved the nerps.png into the assets folder, because precompilation deleted everything in public (which might be another bug), and since then the error is now coming from nerps.png.

puts-debugging on the server seems to have narrowed the problem down to the compile? method, which should return false, but somehow returns true for images.

[2016-05-03 16:50] rickenharp commented on #52
Ah, I think I found it. The compile? function matches the whole path for /*.*.*/, and one folder is named mathsquad.net, so *everything* matches, and compile? returns true for every single asset.

[2016-05-05 18:18] jodosha commented on #52
@rickenharp This looks similar to another problem that we had and supposed to be fixed in master. Before to proceed with #53, can you please use master versions of all the gems and check if the problem disappears?

[code]

[2016-05-06 14:10] rickenharp commented on #52
I just tried it with the above changes to the Gemfile, and the bug is still present in master.

[2016-05-16 04:46] vovayartsev opened #54 "Assets cache doesn't "notice" changes in imported scss files in development mode"
Hi,
I'm using *sass* to compile multiple css files into a single application.css, and in development mode the compiled file is cached, and subsequent changes to *@import*-ed have no effect.

[code]

[code]

Changing body color has no effect until I `rm -rf public/assets` or `touch application.css.scss`

Reproduced in v0.2.1.

[2016-05-20 12:30] jodosha commented on #54
@vovayartsev Hi, I'm sorry about your problem. Are you using `hanami-assets` alone or with Hanami full stack project?

[2016-05-20 12:56] jodosha commented on #52
Closed by #53

[2016-05-20 12:56] #52 closed

[2016-05-20 12:57] jodosha commented on #50
Closing this as a no longer active discussion.
@nashbridges Feel free to reopen in case you need more informations from us. 😄

[2016-05-20 12:57] #50 closed

[2016-05-20 13:16] nashbridges commented on #50
@jodosha Sorry, I completely forgot about this ticket.
I thought that integration with hanami-assets would be a quick win. I will probably wait for it be on a par with Sprockets in terms of CSS interpolation, so base code would be the same.
Anyway, thanks for explanations.

[2016-05-20 13:28] jodosha commented on #54
Possible duplicate of https://github.com/hanami/hanami/issues/513

[2016-05-28 06:08] rafaels88 commented on #54
@jodosha I am a little bit confused how to create an integration test for this. So, before spend sometime doing the things wrongly, do you think it worth to create a predefined precompiled css file in `public/assets` in `fixtures/static_assets_app/public/assets/` and check if it changed during the test?

[2016-05-28 09:34] jodosha commented on #54
@rafaels88 I'd do this way:

  1. Create a new fixture for `application.css.scss`
  2. During the execution of the test, write on the fly a new file (`colors.css.scss`) in temp directory
  3. Render `application.css.scss` and assert that it includes the contents from `colors.css.scss`
  4. Modify on they fly `colors.css.scss`
  5. Render `application.css.scss` again and assert that it includes the

[2016-05-28 15:14] rafaels88 commented on #54
:+1:

[2016-06-01 06:44] rafaels88 commented on #54
So, @jodosha. I have spent sometime trying to understand somethings here but there is one thing which I could not understand. About `Hanami::Assets::Compiler#fresh?`, what is the real purpose of this method? I mean, what it is testing? I got confused about it because it seems a little different than `Hanami::Static#_fresh?`, or I am wrong? I mean, about the intention.

Well.. let me say what I am

[2016-06-01 07:46] jodosha commented on #54
@rafaels88 Thanks for your investigation.

The purpose of `Compiler#fresh?` is to avoid to compile again assets that didn't changed from the last time. Let's say you have 10 CSS, you are editing 1 and reloading the page to see the changes. You just want to compile again that 1 that changed, and not the other 9 that didn't changed.

By looking at its implementation we have two cases that makes `#fr

[2016-06-01 08:01] jodosha commented on #54
@rafaels88 I have a solution that is worth to try.

This is the evidence that we need to threat Sass files with special attention. In `Compiler` we already have special code for Sass, but at this point it we need to extract a `SassCompiler` before to proceed.

That means `Compiler.compile` should take the decision to choose itself or `SassCompiler` to do the job.

---

When we have that code in pl

[2016-06-03 21:26] rafaels88 commented on #54
Hey @jodosha, thank you very much for the gentil and quick answer! I am feeling like making the things slower than it could be with my non-understanding, so, I am sorry for that! But I swear that after that, the next issue will be more quick! =)

So... here is my problem now:

Following the situation where I do request `/assets/application.css` twice, while modifying imported sass on the fly, we h

[2016-06-06 23:10] cllns opened #56 "Standardize name of CLI tool to `hanami assets`"
Can we change `hanami-assets` to `hanami assets`?

It would simplify things if the commands are the same regardless of whether you're using `hanami-assets` alone or with the rest of `hanami`.

1. It'd have to check to see if the current project is a full `hanami` project, and if so, prefer those CLI tools instead.

2. It would also have to add a `precompile` command, in order to provide the same A

[2016-06-07 16:52] jodosha commented on #54
@rafaels88 Thanks for your detailed explanation. This reply comes later than usual because I was sick.

You're absolutely right: the check on `Static` will always return `true` and `Assets::Compiler` won't be called. I think that we should make this to work here first (maybe trying with my suggestion above) and then to figure out how to make it working with full stack apps in `hanami`.

[2016-06-07 16:57] jodosha commented on #56
@cllns How? 😄

[2016-06-07 22:44] rafaels88 commented on #54
:+1: No problem, and thank you very much for the reply!

I will come with more news soon.

[2016-06-08 01:23] davydovanton commented on #56
I think we can use CLI hack here. What do you think @jodosha? If you agree I can make PR.

[2016-06-08 12:27] jodosha commented on #56
@davydovanton If your idea is to use https://github.com/hanami/hanami/pull/566, my answer is no. 😄  That would create a cyclic dependency between `hanami` and `hanami-assets`, unless we extract `hanami-cli` and make both the gems to depend on it. But I hope to not extract that gem.

[2016-06-23 03:29] Jeff-Hostetler opened #58 "When does public/assets decide to recompile"
I am seeing some strange behavior trying to get scss working. I have a web/assets/stylesheets/application.css.scss file that I can delete then entire contents of and a refresh with cache disabled won't show that I have deleted anything. The old css file is served up. If I then put a link to a stylesheet that cannot be found,
[code]
and refresh two times, I will get the new compiled style sheet ser

[2016-06-23 08:52] jodosha commented on #58
@Jeff-Hostetler Hey Jeff, I'm sorry about this problem. I can confirm it affects my dev process too with simple stylesheets. I'm using Hanami HEAD. Which version are you using?

[2016-06-23 13:48] Jeff-Hostetler commented on #58
I just started the project yesterday so I think I am on HEAD.
'''
hanami-assets 0.2.1
hanami 0.7.3
'''

[2016-06-24 15:36] jodosha commented on #58
@Jeff-Hostetler These are the stable versions. To use HEAD: https://github.com/hanami/hanami#how-to-use-hanami-head

[2016-06-25 11:50] jodosha commented on #58
I suspect that this problem was introduced by:

  * https://github.com/hanami/hanami/pull/573
  * https://github.com/hanami/hanami/pull/574

[2016-06-27 14:54] #58 closed

[2016-06-27 14:55] jodosha commented on #56
Closing this as stale discussion. If we think we should iterate, please commend below. Thanks.

[2016-06-27 14:55] #56 closed

[2016-06-27 14:56] jodosha commented on #54
@rafaels88 This is a gentle reminder about this issue. Thanks.

[2016-07-01 01:37] rafaels88 commented on #54
I am sorry, @jodosha. Getting back to this! I was terribly busy in the last days.

[2016-07-07 14:33] jodosha commented on #34
Closing this as stale discussion.

[2016-07-07 14:33] #34 closed

[2016-07-14 07:30] jodosha commented on #54
@rafaels88 FYI, I'm working on a fix.

[2016-07-14 13:30] jodosha commented on #54
Fixed by the following commits:

  * 008446d9827dc43d7a57db9eeeb78bfba2312c5a
  * 5de089febb254315032aa6c6214c8c15409494f1
  * 91dc840de4dddf724f022b2839ae4e97c7a4bd11
  * 71fe12926d0d15c5b26f22de30be4a97262b2fde
  * ee413cc068f446c52da8effb5f9de114bdace47a
  * 6629382f222c605d3ab6b995f91c5061036edb2d
  * e42b140a7c8f69f07a4de4cd96f0e0e7c2b6fa5e
  * d0cc84f05c84a3ae4c358720a90d73584ef57180
  * c43

[2016-07-14 13:30] #54 closed

[2016-08-19 18:41] rurounijones opened #63 "Does not support files with multiple dots in name"
The assets compiler will only support files with no dots in the pre-extension filename.

e.g. foundation.js.es6 works fine while foundation.tabs.js.es6 or foundation.util.box.js.es6 will fail.

These filenames are used in the ZURB Foundation framework ( http://foundation.zurb.com/ ) js files. (While their css files use dashes... go figure...)

Attempted to fix this in https://github.com/hanami/ass

[2016-09-14 09:35] createdbypete opened #65 "Custom prefix is not respected"
### Problem

When you set a `prefix` in the configuration no assets are added to the manifest and no digest files are created. This was noticed in a Hanami container architecture application.

[code]

[code]

In the `tree` output above you will notice there is no digest version of the `.css` file and the `assets.json` file is empty so the entire `Bundler` step appears to be missed. I've not tried

[2016-09-16 08:12] tonytonyjan opened #66 "support external pipeline like middleman does?"
in middleman v4, rails assets pipeline has been removed and replaced by external pipeline which can be integrated with ember, gulp, webpack, and other modern font-end package tools. I am wondering if it is possible for hanami to support in the future? I feel a bit tedious to integrate hanami with webpack.

[2016-10-05 02:29] createdbypete commented on #65
## Update

Experimented today with a fix to this, using a Hanami container arch application as a test bed and the changes appear to resolve the issues I spoke of and maintains previous behaviour.

A preview is available here but it has a way to go in terms of cleaning up and testing. https://github.com/hanami/assets/compare/master...createdbypete:run-for-all-configurations

[2016-11-07 13:25] TiteiKo opened #67 "Support multiple asset manifests?"
Hi all,

I was wondering about assets on a multiple apps project. Each app has its own assets, and each app can quite easily be or not deployed (for example server A and B serving app X and server C serving app Y).

Currently, AFAIK, there's no way to precompile assets for a restricted set of apps, and, in an assets-with-digest configuration, all apps use the same manifest.

Would it be possible t

[2016-11-08 08:03] jodosha commented on #67
@TiteiKo

This use case surprises me. Now, how does the global assets precompilation interferes with this deployment scenario? Is it just a matter of halving the time to wait for this operation or there is something else?

[2016-11-09 08:28] createdbypete commented on #66
This seems the most reasonable way to go and would allow Hanami development time to be on more important issues.

However I would take it a step further and stay out of the development side of trying to be a one stop shop for running "all the things" because the surface area for frontend is huge now (and getting bigger) with all the different tooling and setups it would be a nightmare.

The proble

[2016-11-09 09:58] TiteiKo commented on #67
@jodosha

I don't have a lot of assets yet, so precompilation doesn't take that much time ; But in the end, I'll have 9 apps, 7 of them having assets... So yeah, being able to parallelize that in different build jobs would make things faster. Anyway, that's my (very specific) use case, so let's not focus on it, because this issue is more of an architectural matter.

**Having one global assets prec

[2016-11-12 18:20] AlfonsoUceda commented on #65
@createdbypete thanks for the research, you're invited to create a PR with your changes, we can work on that when the PR is created ;)

[2016-11-12 18:25] AlfonsoUceda commented on #66
@tonytonyjan thanks for the issue, you're welcome to create a PR and how we can evolve it.

[2016-11-28 14:36] jodosha commented on #66
@tonytonyjan Hi. I think that isn't a Hanami responsibility. We offer really good basic tools for average use case.

Advanced use cases can take leverage of third party gems for this. If you feel you need Webpack working with Hanami, please write a gem for that. There is another person, I recently spoke in person, who has the same need: @d4v1d82. Maybe you can pair or help each other with this.

-

[2016-11-28 14:36] #66 closed

[2016-12-20 16:51] jodosha commented on #65
@createdbypete That command should be ran on the production env. Would you mind to try with this?

[code]

Thanks!

[2016-12-20 19:47] AlfonsoUceda commented on #65
@createdbypete talking with @jodosha this is a flaw in the design because if you have two or more apps what is the prefix we should take? @jodosha know this problem and we'll take care of it in the future

[2016-12-21 07:33] jodosha commented on #65
@createdbypete As @AlfonsoUceda anticipated, this is the legacy of the poor choices that I made in the past regarding the global state (eg. `Hanami::Assets.configuration`).

---

Specifically, `hanami-assets` is designed to target only one directory as destination. It defaults to `public/assets`. This setting is bound to the global configuration of the framework (again `Hanami::Assets.configuratio

[2016-12-21 07:33] #65 closed

[2016-12-21 07:35] createdbypete commented on #65
Hehe no worries @jodosha,  good call.

[2016-12-21 07:37] jodosha commented on #67
@TiteiKo Thanks for the detailed explanation! 💯

This would require a big effort to change both this framework and `hanami`. As we want to hit 1.0 soon, we can't apply this change right now.

---

After the 1.0 milestone, we'll discuss all together about the technical future of Hanami. If this enhancement is still valuable for you, please mention it during the discussion. Thanks!

---

Ref https:/

[2016-12-21 07:37] #67 closed

[2017-02-27 08:13] jodosha commented on #63
Closing this as it requires complex changes in how we load assets.

[2017-02-27 08:14] #63 closed

[2017-03-20 09:52] jodosha opened #72 "Migrate from Minitest to RSpec"
A few rules to follow:

  * If you want to work on this, please leave a comment here. We want to avoid many people to work on the same task.

  * We expect this migration to happen within a week from now.

  * Do not change the tests, only migrate from Minitest to RSpec syntax. If not sure, please ask here.

  * Do not remove the old tests, only add the new ones.

  * Make CI build to use RSpec te

[2017-03-21 22:22] katafrakt commented on #72
I will take it, if free.

[2017-03-22 12:39] jodosha commented on #72
@katafrakt Please go for it. Thanks.

[2017-03-22 20:21] katafrakt opened #73 "Compiler tries to compile .sassc file (on Linux)"
After running tests on both `master` and `develop`, I keep getting:

[code]

I managed to narrow it down to `files` method (https://github.com/hanami/assets/blob/master/lib/hanami/assets/config/sources.rb#L48) returning array of files formed as:

[code]

... which is obviously not the best order to take `first` and assume it's a good file. I took few naive attempts to fix it (e.g. by excluding pat

[2017-03-23 08:32] jodosha commented on #73
@katafrakt Hi. Which version are you using? This is odd because CI runs linux boxes.

[2017-03-23 08:42] katafrakt commented on #73
I tried Hanami::Assets `master` and `develop` version.

I also thought that CI runs Linux, however it might be just coincidence or be depending on filesystem configuration. Basically, you cannot rely on order of `Dir.glob` results, because they might be very different on different systems.

[2017-03-23 14:18] jodosha commented on #73
@katafrakt Please update to use `Utils::FileList` than. It's build with the purpose of returning an array of file names with a consistent order across OSes.

Usage: `Utils::FileList["path/to/**/*"]`.

[2017-03-24 14:19] katafrakt commented on #73
@jodosha Thanks, this fixed this issue (however some other appeared, I have to investigate them). I can create a PR for this change - should it target master or develop?

[2017-03-26 10:54] jodosha commented on #73
@katafrakt I see, thank you. If the fix is only about the file list order, please use `master`.

[2017-03-28 09:58] katafrakt commented on #73
Fixed by #75

[2017-03-28 09:58] #73 closed

[2017-03-28 10:52] jodosha commented on #73
@katafrakt thank you! 👍

[2017-07-20 02:58] badoet opened #77 "Typescript support?"
is it possible to use typescript for hanami?
i notice tilt support it.

[2017-07-20 12:41] davydovanton commented on #77
hey. You can use [hanami-webpack](https://github.com/samuelsimoes/hanami-webpack) with typescript :)

[2017-07-20 17:02] cllns commented on #77
If `tilt` supports it, you should be able to use it with `hanami-assets` (even without webpack).

Can you try it? [Add `gem 'typescript-node'` to your gemfile](https://github.com/typescript-ruby/typescript-node-ruby#installation), and it should work :)

[2017-07-31 10:12] jodosha commented on #72
Implemented by https://github.com/hanami/assets/pull/74

[2017-07-31 10:12] #72 closed

[2017-07-31 10:18] jodosha commented on #77
@badoet Hi. We use `tilt` as rendering abstraction for assets. All the engines supported by `tilt` are supported by us, as consequence of this architecture.

Since `tilt` `2.0.8`, they support natively TypeScript: https://github.com/rtomayko/tilt/blob/master/CHANGELOG.md#208-2017-07-24. Please run `bundle update tilt` and then you should be able to compile `.ts` and `.tsx` assets.

[2017-07-31 10:18] #77 closed

[2017-08-03 15:09] cllns opened #78 "Remove builtin JS compressor?"
See: https://github.com/hanami/hanami/issues/810

As @kaikuchn said,

It hasn't been updated since 2012, so new JS (ES6+) features probably break it. This will only get worse as ES continues to evolve.

I don't think we should have a builtin compressor that breaks. Especially since we don't want to encourage its use, I think we'd be better off removing it altogether. Maybe we could have a (simple)

[2017-08-03 16:04] kaikuchn commented on #78
I agree that the current builtin should be removed since it is unmaintained and people really should not use it.
Maybe instead of a builtin compressor the default could be a `noop`? I wouldn't even bother with removing comments, it can never compare to a truly good compressor but could cause trouble (magic comments, sensitive whitespace).

If the default is a `noop` we should however point out tha

[2017-08-03 16:07] jodosha commented on #78
Yes, but we can't do it until 2.0.

Do you folks know if there is a newer Ruby based solution to compress JS?

[2017-08-03 16:20] cllns commented on #78
@jodosha I can't find any Ruby JS compressors. Doesn't really make sense anymore, since JS can compress itself :D

[2017-08-04 09:09] kaikuchn commented on #78
Would it suffice if for now, we very firmly discourage the use of the builtin compressor and deprecate it? That way people will know to switch to another compressor and when somebody has a problem with the builtin we can point out that it's deprecated and shouldn't be used.

[2017-08-04 13:49] jodosha commented on #78
@cllns

Yes, but that requires Node.js for production env.

---

To rephrase my idea on this: I would not make mandatory Node.js in production. For the trivial use case: just a bunch of ES5 javascripts, it would be overkilling, that's why we have that old, inefficient JSMin port.

Users with more advanced needs can decide to adopt a more powerful compressor, which will probably need Node.js (as "J

[2017-08-04 14:50] cllns commented on #78
I personally think it's fine to require the use of Uglifier (NodeJS), YUI (Java) or Closure (Java) for production minifiying. They'll do the best job, so we shouldn't even try to tackle that in Ruby. I was thinking we'd have a `:none` compressor for development only.

There's a JS obfuscator written in Ruby that's currently maintained: https://github.com/rapid7/jsobfu Doesn't minify, but I imagine

[2017-08-10 23:55] cllns commented on #78
So I'm not sure `jsobfu` is a good idea. For a real file that's 12,000 characters, the result was 28,000 characters

[2017-08-22 07:25] kaikuchn commented on #78
I think that while using Closure or similar solutions to minify assets is the way to go, I do not want to have a Java installation on my production server just because I needed Java to prepare my app for production.
In my opinion minifying assets is a preparatory step, similar to compilation. And similar to how I release only the result of the compilation - the executable binary - and not all of t

[2017-09-25 11:09] malin-as commented on #78
I don't know whether I should just comment in here or open a new bug about it, but JS compression just broke the version of popper that I'm using. In popper-1.11.0.min.js the following code has a space left in the middle:
[code]
I don't know what that's supposed to do, and I'm pretty sure I'm better off not knowing, but removing the space breaks it.

[2017-09-25 11:37] kaikuchn commented on #78
I don't even... javascript.. ✋ 😦

Yes, this is the right place. And the fix is to not use the builtin compressor. Sorry for the inconvenience :/

[2017-09-25 13:23] FezVrasta commented on #78
the double `+` could be read as:

[code]

Because `+something` casts the variable to number.

[2017-09-25 16:28] cllns commented on #78
Can we rescue the error on a compilation error, and give a helpful message to users that `builtin` is limited, they hit a limit, and offer a link to the alternate compressors page? Is that a decent workaround?

[2017-10-05 20:52] katafrakt opened #79 "Hanami::Assets does not preserve directory structure"
I'm creating an app where certain pages are displayed using different themes, based on values from the database. I put theme in `apps/assets/stylesheets/themes/orbit/styles.css` directory and then referenced it in the template with `<%= stylesheet 'themes/orbit/styles' %>`. However, this does not work. The stylesheet is not available and when I look into `public/assets` directory, I see `styles.cs

[2017-10-09 08:38] jodosha commented on #79
@katafrakt Hi and thanks for reporting this problem. It's not possible to keep the structure at this time.

We already discussed some time ago (see https://github.com/hanami/assets/issues/34), and my opinion is 👍 for this enhancement. What's @hanami/core take on this?

[2017-10-09 20:08] AlfonsoUceda commented on #79
@jodosha reading #34 I'd like to have this enhancement, namespacing stuff is the best you can do, I mean order your files in subfolders to have your work organized.

[2017-10-10 13:46] jodosha commented on #79
@katafrakt would you like to implement this?

[2017-10-10 19:22] AlfonsoUceda commented on #79
@katafrakt if you can't I could give it a try

[2017-10-10 20:16] katafrakt commented on #79
I would like to and I'll try to do it.

[2017-10-11 19:10] katafrakt commented on #79
@jodosha Some questions before I actually code:

* Should the PR target master or develop?
* Should there be an option to retain old (current) behaviour? Since Hanami is past 1.0, it might be a good idea, although it will make the code more complex, probably.

[2017-10-16 06:56] jodosha commented on #79
@katafrakt

Please target `develop`

As long it doesn't require changes in the public API, we can include this change in the next 1.x release. I see compiled assets not as a breaking change, as long they will keep working for people. The directory structure should be irrelevant for devs.

[2017-10-17 20:37] katafrakt commented on #79
It's really hard for me to tell. Basically the problem I see is that right now there is a mechanism resolving assets from nested paths, i.e. if I have a file in `assets/some/directory/bootstrap.js` and do `Hanami::Assets::Compiler.compile(@config, 'bootstrap.js')`, it will be found and copied into the root directory of assets as `bootstrap.js`. I think this should be removed and only "full relativ

[2017-10-20 12:13] Titinux commented on #79
This is what I am thinking about :

**1 - Assets that don't need processing.**

Have a list of mime types that pass through assets manager without being modified (jpg, png, woff, svg...)

Example :
assets/images/my-theme/backgrounds/bg_1.jpg **=>** compute hash if needed **=>** public/assets/images/my-theme/backgrounds/bg_1-hash.jpg

**2 - Assets that need compilation/preprocessing/whatever**

Hav

[2017-10-23 09:14] malin-as opened #83 "Javascript helper erroneously appends `.js` to absolute URLs"
Hi, this is a small problem that took me too long to figure out:
[code]
turns into:
[code]

The more I think about it, the more it seems to me that this feature could also cause trouble with relative URLs for the exact same reasons, and should be disabled by default, or even removed.

[2017-10-23 12:52] jodosha commented on #83
@malin-as Hey, I just wrote a fix for this: https://github.com/hanami/assets/pull/84

[2017-10-23 14:01] jodosha commented on #83
Fixed by https://github.com/hanami/assets/pull/84

[2017-10-23 14:01] #83 closed

[2017-10-26 10:42] katafrakt commented on #79
Since this issue did not make it to 1.1.0 release, I would like to propose a bit more "radical" change instead of what's in my pull request.

Right now every asset from `root` is compiled to target directory no matter how deep it is in the file structure. This means the following results (assume `root` is `web/assets` and target directory is `public/assets`):

| path | compiled to |
|------|------

[2017-11-11 22:05] AlfonsoUceda commented on #79
ping @jodosha

[2018-01-08 23:00] katafrakt commented on #79
any news?

[2018-01-08 23:05] cllns commented on #79
I think it's OK if it's not backwards compatible, since the old behavior was buggy.
We should strive for correctness (preserving hierarchy) over keeping compatibility with buggy behavior.

[2018-02-18 22:47] katafrakt commented on #79
@cllns Perhaps I did not explain it correctly but there is no real "whitelisting" in my concept, more like adding additional root directories for assets. For example:

`apps/web/assets/themes/default/assets/fonts/icons.woff2` becomes `public/assets/themes/default/assets/fonts/icons.woff2`

however `apps/web/assets/stylesheets/semantic/semantic.css` would become `public/assets/semantic/semantic.css

[2018-02-21 20:14] cllns commented on #79
@katafrakt Ah, I think I get it now. Thanks! Do you think you'll have time to open a PR implementing this fix, against `develop`?

[2018-02-21 21:57] katafrakt commented on #79
@cllns I hope so, but I will take couple of days. I have some work in progress already though.

[2018-03-07 22:05] katafrakt commented on #79
@cllns There is a new PR (linked above)

[2018-06-25 23:36] crdx commented on #79
Do you know when 2.0 might be out (approx)?

[2018-06-29 20:18] GarPit opened #91 "undefined method `[]' for nil:NilClass"
Hello, I have this issue when trying to precompile for production:

    $  HANAMI_ENV=production hanami assets precompile
    Skipping compression of: `/home/piton/projects/sneakerbot/public/assets/bootstrap.bundle.min.js'
    Reason: undefined method `[]' for nil:NilClass

	/home/piton/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/hanami-assets-1.2.0/lib/hanami/assets/compressors/jsmin.rb:256:in

[2018-07-01 08:31] GarPit opened #92 "Hanami::Assets::MissingManifestFileError"
Hello, I'm trying to deploy Hanami project to AWS ElasticBeanstalk, but having this issue. Assets precompilation "pre" hook seems completed successfully, without any issues. But when I'm opening app in browser, I'm getting this in puma.log:

[code]

[2018-07-02 09:07] rodrigopk opened #93 "Wrong assets_configuration reference when using different views for specific formats"
I noticed an issue when trying to render static assets on my application using different views for specific formats (following the [guides](http://hanamirb.org/guides/1.1/views/mime-types/#view-for-specific-format))

Hanami version: 1.2

My view for the html format looked something like this:

[code]

And on my app configuration, I enabled fingerprint:
[code]
When I enabled the fingerprint, I woul

[2018-07-02 09:16] rodrigopk commented on #92
Do you have the `SERVE_STATIC_ASSETS` environment variable set to true on you production environment?

[2018-07-02 12:17] GarPit commented on #92
@rodrigopk Yes, have it.

![](http://joxi.ru/5md0d9Buk9zQdm.png)

[2018-08-10 10:55] jodosha commented on #79
Implemented by #88

[2018-08-10 10:55] #79 closed

[2018-10-28 15:43] katafrakt opened #95 "[Regression] Referencing nested assets without full path does not work in 1.3"
This was brought up on Gitter and I confirmed that behaviour changed in 1.3.0, due to #88.

Steps to reproduce:

1. Create new Hanami application with `hanami` 1.2.0 and `hanami-assets` 1.2.0
2. Create a file in `apps/web/assets/stylesheets/nested/style.css`, for example setting `body`'s background to yellow
3. Reference it in `application.html.erb` by `<%= stylesheet 'style' %>`
4. Create some ac

[2018-10-30 10:17] SamyRai commented on #95
It explains now why my app failed after update to 1.3. Thanks!

[2018-10-30 10:19] inouire commented on #95
Thank you @katafrakt for the report. That's exactly what I encountered, and honestly I don't think we should do anything about it apart from linking this issue to the release note to say "be careful it was broken before"

[2018-11-13 16:49] DangerDawson commented on #92
@GarPit Did you solve this?

[2018-11-19 19:56] katafrakt commented on #95
@jodosha any decision on this issue?

[2018-11-28 07:19] waiting-for-dev opened #96 "Nested assets with preprocessing getting wrong extension"
## Expected behavior

For a tree structure like:

[code]

and a configuration file like:

[code]

following output would be expected (omitting files with fingerprint):

[code]

## Actual behavior

Instead, the following output is created:

[code]

Notice that the preprocessing happens, but the extension remains the same.

## Steps to Reproduce the Problem

1. `git clone https://github.com/waiting-

[2018-11-29 18:38] waiting-for-dev commented on #92
Surely same issue here. I'm not using `SERVE_STATIC_ASSETS` because I'm using it without `hanami` (I'm using `dry-web-roda`).

I have isolated the bug in the following repository:

https://github.com/waiting-for-dev/hanami_manifest_bug

In order to reproduce it, just clone it and:

1. `bundle`
2. `bundle exec hanami-assets -c config.rb`
3. `./run`

`config.rb` has `fingerprint` to `true`, which of

[2018-11-30 17:49] waiting-for-dev commented on #92
I found that it is needed to call `load!` at the end of the `.configure` block. Is it a bug or intended behaviour? If so, I could create a PR modifying the README.

[2018-12-18 18:30] GustavoCaso commented on #95
@jodosha @katafrakt I have tested it on my computer both `1.2` and `1.3` version and I wasn't able to reproduce it.

This is my Gemfile:
[code]

This is my Gemfile.lock:

[code]
This is my `style.css` file located in `apps/web/assets/stylesheets/nested/style.css`

[code]

This is my `application.html.erb` located in `apps/web/templates/application.html.erb`

[code]

And after executing `bundle exe

[2018-12-19 16:42] katafrakt commented on #95
@GustavoCaso this is my mistake, sorry. I missed the step where you delete `public/assets` directory generated in Hanami 1.2. If you delete it and start the server again, the stylesheet won't be found.

[2018-12-19 18:46] GustavoCaso commented on #95
Great @katafrakt I will test it again adding that step. So I can confirm that we have a regression 👍

[2018-12-20 18:36] GustavoCaso commented on #95
@jodosha  @katafrakt I tested again and deleting the `public/assets` folder generated with `1.2` and I can confirm the regression.

[2018-12-20 20:32] inouire commented on #95
@GustavoCaso To me it's not really a regression, more like a breaking change. The way it "works" in 1.2 was broken (you can have a conflict in case of identical files across the assets directory) and the 1.3 version fixes that because directory structure is kept. To me this issue deserves a "fix" label.

[2018-12-20 23:07] GustavoCaso commented on #95
Hi, @inouire thanks for the clarification.

[2018-12-21 13:35] katafrakt commented on #95
@inouire Yes, this is not necessarily a regression in a way "something we want to bring back to previous state" but a breaking change which was introduced unintentionally with minor version update. So maybe it should be handled somehow (not sure how, as there are no plans to release anything before 2.0 as far as I know).

[2019-01-08 09:23] jodosha commented on #95
@katafrakt @GustavoCaso Thank you all for the discussion. I think at this point the decision is clear: revert the feature.

---

@GustavoCaso Can you please make it sure to create a PR (on `master`) to revert it?

We'll soon need to release `v1.3.1` to ship Ruby 2.6 support. That can be a good target release to revert this feature.

Thanks.

[2019-01-08 09:36] jodosha commented on #92
@waiting-for-dev For standalone usage, you need to manually boot the framework, so `.load!` invocation is needed.

[2019-01-08 09:37] jodosha commented on #92
@GarPit Are you sure that the manifest file was created?

[2019-01-08 09:38] inouire commented on #95
@jodosha It's hard for me to believe that a revert will be applied to a behavior that is now functional and logic (previous behavior was NOT)

Because of the very little amount users who noticed it (it seems that almost no one use nested path for assets) it seems to me that the fact that it is a breaking change is way less important than the fact that the global behavior is improved.

[2019-01-08 09:42] jodosha commented on #95
@inouire Let's do this way: instead of reverting the feature, let's leave it but not enabled. That would require a new setting to enable it. Sounds good? /cc @katafrakt @GustavoCaso

[2019-01-08 09:44] inouire commented on #95
@jodosha would be perfect :+1:

[2019-01-14 16:57] jodosha commented on #95
@katafrakt @inouire @GustavoCaso Can you please manually review the fix? https://github.com/hanami/assets/pull/98

[2019-01-15 09:41] inouire commented on #95
Done :+1: :pray:

[2019-01-15 14:16] #95 closed

[2019-04-22 23:53] cllns opened #101 "Implement sassc-ruby"
The `sass` gem is officially dead: https://sass-lang.com/ruby-sass

We should be using the `sassc` gem instead.

When I swapped out the `sass` gem for `sassc`, I got the following error:
`#<NameError: uninitialized constant Sass Did you mean?  SassC>`

[2019-05-16 00:07] kj commented on #92
@jodosha This should be in the README though right? It is only mentioned in the source code documentation, it was a bit confusing for me as to why the `asset_url` helper wasn't returning an absolute URL.

[2019-07-22 12:18] landongrindheim opened #104 "Integration Tests Fail in Master"
When working on #102, all specs were passing locally, but the branch would not integrate with hanami/hanami. Upon investigation, I found that `script/ci` was running "isolation" specs (specs in the `spec/isolation/` directory). However, there is no `spec/isolation` directory:

[code]

I believe this has led to a series of builds that passed CI but otherwise should not have. Currently, when running

[2019-07-23 08:17] jodosha commented on #104
@landongrindheim This is an unfortunate mistake of mine. I've probably copied and pasted the `script/ci` code from any other Hanami gem, without noticing the error.

[2019-07-26 07:42] #104 closed

[2019-08-01 15:49] #101 closed

[2019-09-01 17:33] #92 closed

[2019-09-26 23:35] unleashy opened #109 "Asset compiling breaks binary files on Windows"
This is due to the god-forsaken CRLF conversion that I love so, _so_ much... :pensive:

The fix is to add `File::BINARY` as another mode [here,](https://github.com/hanami/assets/blob/9c35202ca7aaaf0c9aeb0b4aeb8652ac8df61953/lib/hanami/assets/compiler.rb#L247) and also change `source.read` to `source.binread` [here.](https://github.com/hanami/assets/blob/9c35202ca7aaaf0c9aeb0b4aeb8652ac8df61953/lib

[2019-10-07 08:34] jodosha commented on #78
I've documented that `builtin` compressor has limited functionalities. https://github.com/hanami/guides/pull/53

---

For the other bugs related to `builtin` compressors, please report as tickets or, provide a PR. Thank you all.

[2019-10-07 08:34] #78 closed

[2019-10-07 08:39] jodosha commented on #91
@GarPit I'm sorry if nobody answered to you so far. I apologize for that.

If this is still a problem, we need the source code of bootstrap JS.

Feel free to reopen this ticket, if you want to be so kind to follow up. Thanks.

[2019-10-07 08:42] jodosha commented on #93
@landongrindheim quoting you from #104

What do you mean exactly? Did we fix the problem of #93 (this ticket)?

[2019-10-07 08:48] jodosha commented on #93
@rodrigopk My apologize, for following up so late on this.

Fingerprinting is expected to be used in production env. The precondition to run assets in production is to precompile them (via `bundle exec hanami assets precompile`).

If you didn't precompile assets, then `public/assets.json` is missing, which is signaled by the exception.

Are you trying to use fingerprinting without precompiling ass

[2019-10-07 08:48] #93 closed

[2019-10-07 09:44] jodosha commented on #96
@waiting-for-dev I'm sorry for taking so long to reply.

Using `sassc` fixes the problem:

[code]

[code]

[2019-10-07 09:44] #96 closed

[2019-10-07 12:24] landongrindheim commented on #93
@jodosha When I initially wrote this, there were several specs which were failing, but not being run by CI. Their names/file paths caused me to assume they were related to open issues (#93 included). However, I concluded that the issue and the failing specs were unrelated.

[2019-10-08 09:28] #109 closed

[2020-06-11 00:41] ippachi opened #113 "Can't load css that filename start with underscore in node_modules"
Hello guys.
I tried using `icheck` in my hanami project by the below settings.

[code]

[code]

But some files are not delivered to `public/assets` because 'icheck' is importing CSS that filename starts with an underscore.

I think [this code](https://github.com/hanami/assets/blob/1e97205568bdf11a7e1394a7fa2b7af148013c94/lib/hanami/assets/config/sources.rb#L60) excludes css and js start with under

[2020-06-14 07:21] ippachi opened #114 "Asset output file name seemes to be wrong when nested true"
Hello.
The output file name seems to be wrong when the nested option is enabled.

## Precondition
[code]

[code]

[code]

## expected

[code]

## actual

[code]

[2021-03-18 11:56] kaoriSG opened #118 "Compile without specific files"
Hi!

Is it possible to compile without specific files?
I'd like to skip compress for few js files because of js issue.

[2021-03-18 12:57] jodosha commented on #118
@kaoriSG I'm sorry but that isn't possible. We'll take into account for 2.0.

[2021-03-18 12:57] #118 closed

[2022-01-27 23:26] depfu[bot] opened #119 "Depfu Error: Depfu is stuck and needs your help"
Hello,

⚠️ **We're getting errors with this repo and have given up after trying several times.**

In most cases that means something is wrong with your current Bundler setup and we can't fix it automatically:

##### • Error details:
[code]
##### • Error details:
[code]
##### • Error details:
[code]

After you've fixed the problem, please activate this project again in the [Depfu Dashboard](https:/

[2022-02-04 09:41] #119 closed